// galeria

$image-count: 6; //  número de imágenes

@for $i from 1 through $image-count {
  $image-name: #{"#{($i)}.png"}; // nombre de la imagen
  $image-name-jpg: #{"#{($i)}.jpg"}; // nombre de la imagen jpg
  

  .item#{$i} {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/#{$image-name}"), url("img/#{$image-name-jpg}");
    filter: grayscale(100%);
    transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;  

    &:hover {
    
      background-size: 90%;
      filter: grayscale(10%);
    }
  }
}
