@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Calistoga&display=swap");
@import url("https://fonts.cdnfonts.com/css/johnny-torch");
._boton {
  padding: 3px 20px;
  border-radius: 10px;
  font-size: 17px;
  background-color: black;
  color: white;
  text-decoration: none;
  margin-bottom: 40px;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  transition: 0.5s;
}
@media only screen and (min-width: 250px) and (max-width: 450px) {
  ._boton {
    padding: 2px 15px;
    margin-bottom: 60px;
    font-size: 14px;
  }
}
._boton:hover {
  background-color: rgb(35, 233, 223);
  color: black;
  text-decoration: none;
}

.item1 {
  width: 100%;
  height: 100%;
  background-color: #f3f2e0;
  border: none;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/1.png"), url("img/1.jpg");
  filter: grayscale(100%);
  transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.item1:hover {
  background-size: 120%;
  filter: grayscale(10%);
}

.item2 {
  width: 100%;
  height: 100%;
  background-color: #f3f2e0;
  border: none;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/2.png"), url("img/2.jpg");
  filter: grayscale(100%);
  transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.item2:hover {
  background-size: 120%;
  filter: grayscale(10%);
}

.item3 {
  width: 100%;
  height: 100%;
  background-color: #f3f2e0;
  border: none;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/3.png"), url("img/3.jpg");
  filter: grayscale(100%);
  transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.item3:hover {
  background-size: 120%;
  filter: grayscale(10%);
}

.item4 {
  width: 100%;
  height: 100%;
  background-color: #f3f2e0;
  border: none;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/4.png"), url("img/4.jpg");
  filter: grayscale(100%);
  transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.item4:hover {
  background-size: 120%;
  filter: grayscale(10%);
}

.item5 {
  width: 100%;
  height: 100%;
  background-color: #f3f2e0;
  border: none;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/5.png"), url("img/5.jpg");
  filter: grayscale(100%);
  transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.item5:hover {
  background-size: 120%;
  filter: grayscale(10%);
}

.item6 {
  width: 100%;
  height: 100%;
  background-color: #f3f2e0;
  border: none;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("img/6.png"), url("img/6.jpg");
  filter: grayscale(100%);
  transition: background-size 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.item6:hover {
  background-size: 120%;
  filter: grayscale(10%);
}

body {
  background-color: #fafafa;
}

h2 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
}
@media (max-width: 400px) {
  h2 {
    font-size: 1.6em;
  }
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: #800000;
}

p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
@media (max-width: 400px) {
  p {
    font-size: 14px;
  }
}

a .linea {
  border-bottom: 1px solid red;
  margin: 20px auto;
  width: 90px;
}
@media (min-width: 150px) and (max-width: 600px) {
  a .linea {
    width: 100px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* /*barra de navegacion------INDEX Y SECCIONES--uso bootstrap-- */
.navbar {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 2px solid black;
}
.navbar .navbar-brand img {
  height: 150px;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler i {
  color: black;
  font-size: 30px;
}
.navbar .navbar-nav .nav-link {
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  margin-inline: 30px;
}

/* /  INDEX Section foto-titulo  img - h1 */
.bg-image {
  background-image: url(img/DSC09987.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .bg-image {
    font-size: 5rem;
    text-align: center;
    height: auto;
    white-space: normal;
    letter-spacing: 6px;
    justify-content: left;
  }
}
@media (max-width: 767px) {
  .bg-image {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .bg-image {
    height: 200px;
  }
}

.display-4 {
  font-size: 5rem;
  color: #ffb155;
  font-family: "Calistoga", serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: relative;
  top: 90%;
  left: -30%;
  text-shadow: 1px 3px 3px rgba(9, 10, 10, 0.994);
}
@media (min-width: 150px) and (max-width: 600px) {
  .display-4 {
    font-size: 1.6rem;
    text-align: center;
    height: auto;
    white-space: normal;
    letter-spacing: 2px;
    position: relative;
    top: 95%;
    left: -38%;
  }
}

.asadoTitle {
  font-size: 5rem;
  color: #ffb155;
  font-family: "Calistoga", serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: relative;
  top: 40%;
  left: 8%;
  text-shadow: 1px 3px 3px rgba(9, 10, 10, 0.994);
}
@media (min-width: 150px) and (max-width: 600px) {
  .asadoTitle {
    font-size: 1.6rem;
    text-align: center;
    height: auto;
    white-space: normal;
    letter-spacing: 2px;
    position: relative;
    top: 65%;
    left: -10%;
  }
}

/*  INDEX -section- quienesSomos ------------------ */
.quienesSomos {
  text-align: center;
  background-size: cover;
}
.quienesSomos p {
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  color: black;
  font-style: italic;
  font-variation-settings: "wght" 500;
  text-align: center;
  text-justify: inter-word;
  text-indent: 1em;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 80%;
}
.quienesSomos p::first-letter {
  font-size: 160%;
  color: black;
  font-weight: bold;
}
@media (min-width: 150px) and (max-width: 600px) {
  .quienesSomos h2 {
    font-size: 20px;
  }
  .quienesSomos p {
    font-size: 13px;
  }
}

/*   INDEX --section -Nuestros Eventos -h2-video.mp4  --- */
.contNe {
  width: 100%;
  height: 500px;
  position: relative;
  text-align: center;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
.contNe video {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.videoTitulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.videoTitulo h2 {
  font-size: 40px;
  color: rgb(12, 12, 12);
  text-align: center;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Calistoga", serif;
  text-transform: uppercase;
  font-variation-settings: "wght" 500;
  line-height: 1.5;
  text-shadow: 1px 3px 3px rgba(9, 10, 10, 0.994);
}
@media (min-width: 150px) and (max-width: 600px) {
  .videoTitulo h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;
    top: 100%;
  }
}

#parrafoQs {
  letter-spacing: 1px;
  margin-top: 10px;
  color: rgb(252, 252, 250);
  font-size: 25px;
  font-style: italic;
  padding: 20px;
  font-variation-settings: "wght" 500;
}
@media (min-width: 150px) and (max-width: 600px) {
  #parrafoQs {
    font-size: 15px;
  }
}

.contNe:hover {
  filter: none;
}

/* Index - Reseñas */
.reseñas {
  padding: 50px 0;
}
.reseñas .reseña {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}
.reseñas .reseña h3 {
  color: #800000;
  font-size: 18px;
  text-align: center;
  font-family: "Calistoga", serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-variation-settings: "wght" 500;
}
@media (min-width: 150px) and (max-width: 600px) {
  .reseñas .reseña h3 {
    font-size: 20px;
  }
}
.reseñas .reseña p {
  color: #090909;
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-variation-settings: "wght" 500;
  margin: 0 auto;
  width: 80%;
  line-height: 30px;
  text-justify: inter-word;
  text-indent: 1em;
  letter-spacing: 1px;
}
.reseñas .rating {
  color: gold;
  text-align: center;
}
.reseñas .rating i {
  font-size: 15px;
  text-align: center;
}

/* ----------------------INICIO SECCIONES---------------------------------------------- */
/* CONTACTO*/
/*  */
/* ---------------SECCION EVENTOS----------- */
.tituloEvent h2 {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  font-size: 50px;
  font-family: "Calistoga", serif;
  background-color: black;
}
@media (min-width: 150px) and (max-width: 600px) {
  .tituloEvent h2 {
    font-size: 30px;
  }
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
  justify-items: center;
  padding-top: 60px;
  margin: 0 auto;
}
.contenedor .foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.contenedor .foto img {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedor .foto h4 {
  height: 50px;
  width: auto;
  padding-top: 15px;
  font-size: 25px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
@media (min-width: 150px) and (max-width: 600px) {
  .contenedor .foto h4 {
    font-size: 20px;
  }
}
.contenedor .foto P {
  color: #800000;
  font-size: 15px;
  padding: 1px;
  padding-bottom: 30px;
  font-style: italic;
  text-align: center;
  font-variation-settings: "wght" 500;
  margin: 0 auto;
  width: 80%;
  line-height: 20px;
  text-justify: inter-word;
  text-indent: 1em;
  letter-spacing: 1px;
  width: 80%;
}
.contenedor .foto P p::first-letter {
  font-size: 125%;
  color: black;
  font-weight: bold;
  padding: 2px;
}

body.fondoImagen {
  background: linear-gradient(to bottom, #f3f2e0, #eae7dc);
  background-size: cover;
  color: #333;
}
body.fondoImagen .foto img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(25, 145, 205, 0.2);
  transition: transform 0.3s ease;
}
body.fondoImagen .foto img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(25, 145, 205, 0.2);
}

/* ---------------SECCION NOSOTROS --------------- */
.jumbotron {
  background-image: url(img/14.jpg);
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: space;
  background-attachment: fixed, scroll;
  height: 500px;
  width: 100%;
  color: rgb(253, 253, 247);
  border-radius: 0;
  margin-bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jumbotron p {
  margin-top: 30px;
  color: rgb(252, 252, 250) !important;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  font-variation-settings: "wght" 500;
  text-justify: inter-word;
  text-indent: 1em;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 80%;
}

.tituloQs {
  background-color: black;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Calistoga", serif;
}
@media (min-width: 150px) and (max-width: 600px) {
  .tituloQs {
    font-size: 30px;
  }
}

.container-fluid {
  background-color: #fafafa;
}

.nleft {
  height: auto;
  width: 100%;
  background-image: url(img/19.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f2e0;
}
@media (min-width: 150px) and (max-width: 600px) {
  .nleft {
    height: 300px;
    display: flex;
    flex-direction: column;
  }
}

.nright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  padding: 15px;
  height: 100%;
  width: 100%;
  background-color: #f3f2e0;
}
.nright p {
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  padding: 20px;
  margin: 0 auto;
  line-height: 30px;
  font-variation-settings: "wght" 500;
  text-justify: inter-word;
  text-indent: 1em;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
.nright p::first-letter {
  font-size: 130%;
  color: #ffb155;
  font-weight: bold;
}

/* ------------ SECCION GALERIA------------------ */
.tituloGal h2 {
  text-align: center;
  margin-top: 150px;
  padding: 20px;
  margin-top: 50px;
  font-family: "Calistoga", serif;
}
.tituloGal p {
  padding-top: 13px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

.galeria {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 200px);
  grid-gap: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.galeria :hover {
  box-shadow: 0px 5px 10px 3px #ffb155;
  border-radius: 6px;
}

/*-------------- FOOTER index y  todas las secciones-------- */
.footer {
  height: auto;
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 20px;
  font-family: "Calistoga", serif;
}

.footer p {
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

footer i {
  color: rgb(244, 248, 246);
  font-size: 30px;
  letter-spacing: 30px;
}

footer h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Calistoga", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-variation-settings: "wght" 500;
  text-align: center;
}

/* -------------MEDIA QUERY EVENTOS------------ */
@media only screen and (min-width: 500px) and (max-width: 777px) {
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
/* ----------------MEDIAS QUERY GALERIA---------------- */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
  }
  .item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
  }
}
@media only screen and (min-width: 575px) and (max-width: 945px) {
  .nleft {
    width: 100%;
    height: auto;
  }
}
/* -------------MEDIA QUERY NOSOTROS------------ */
@media (min-width: 150px) and (max-width: 600px) {
  .jumbotron p {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    font-variation-settings: "wght" 500;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 1em;
    color: #ffb155;
  }
}
/* -------------MEDIA QUERY CONTACTO------------ */
@media (min-width: 300px) and (max-width: 576px) {
  .nleftForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
/* -------------MEDIA QUERY FOOTER------------ */
@media (min-width: 300px) and (max-width: 576px) {
  .footer h3 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 386px) {
  .footer p {
    font-size: 12px;
  }
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: px;
  border: 3px solid #f5f5f5;
}

::-webkit-scrollbar {
  opacity: 1;
}

/* /* FAQ Section */
/* .faq-section {
  max-width: 800px;
  max-height: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.accordion-button {
  background-color: #f8f9fa;
  font-size: 1rem;
  text-align: left;
}

.accordion-body {
  font-size: 0.9rem;
  text-align: left;
} */
/* Stili Footer */
.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Calistoga", serif;
  position: relative;
  bottom: 0;
  left: 0;
}
@media (min-width: 150px) and (max-width: 600px) {
  .footer {
    padding-bottom: 20px;
    margin-bottom: 60px;
    border-bottom: 2px solid white; /* Línea blanca debajo del footer */
  }
}

.footer p {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: rgb(244, 248, 246);
}

footer i {
  color: rgb(244, 248, 246);
  font-size: 30px;
  letter-spacing: 15px;
  padding: 10px;
}

footer h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Calistoga", serif;
}

/* Media Query Footer */
@media (min-width: 300px) and (max-width: 576px) {
  .footer h3 {
    font-size: 20px;
  }
  .footer p {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f5f5f5;
}

/* FAQ Section */
.contact-info {
  max-width: 1000px;
  width: 100%;
  font-size: 1.2rem;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.contact-info h3 {
  font-size: 40px;
  padding: 15px;
  font-family: "Calistoga", serif;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 150px) and (max-width: 600px) {
  .contact-info h3 {
    font-size: 30px;
  }
}

.contact-info i {
  margin-bottom: 20px;
  color: #0897a4;
  font-size: 20px;
}

.contact-info a {
  color: #0b0b0b;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.faq-section {
  max-width: 1000px;
  padding: 25px;
  margin: 25px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.accordion-button {
  font-weight: bold;
  background-color: #f7f6f3;
  border: none;
}

.accordion-button:hover {
  background-color: #f7f7f1;
}

.accordion-body {
  font-size: 1.1rem;
  line-height: 1;
  display: flex;
  justify-content: center;
}
@media (min-width: 150px) and (max-width: 600px) {
  .accordion-body {
    font-size: 15px;
    font-style: italic;
  }
}

.text-center {
  font-family: "Calistoga", serif;
  font-size: 40px;
}
@media (min-width: 150px) and (max-width: 600px) {
  .text-center {
    font-size: 30px;
  }
}

.accordion-item {
  margin-bottom: 30px;
}
.accordion-item h2 {
  font-size: 15px;
  color: #800000;
}

@media screen and (max-width: 760px) {
  .container {
    gap: 10px; /* Aggiunge spazio tra le sezioni */
  }
}
#whatsapp-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 10px 0;
  z-index: "1000";
  padding: 20px;
}

#whatsapp-footer a {
  color: white;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.5s ease;
  font-size: 20px;
}

#whatsapp-footer a:hover {
  background-color: rgb(68, 144, 68);
  color: #000;
  text-decoration: none;
}

/* Contenedor del slideshow */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Imágenes del slideshow */
.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* Mostrar solo la imagen activa */
.slideshow img.active {
  opacity: 0.6; /* Ajusta la opacidad como prefieras */
}

/* Logo centrado */
.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 300px; /* Ajusta el tamaño según tu logo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
@media (max-width: 992px) {
  .menu-icon {
    display: block;
  }
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #000;
  padding-top: 60px;
  transition: left 0.4s ease-in-out;
  z-index: 1000;
}
#mobile-menu ul {
  list-style: none;
  padding: 0;
  text-align: left;
  background-color: #000;
}
#mobile-menu ul li {
  padding: 15px;
  border-bottom: 1px solid white;
}
#mobile-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

#mobile-menu.active {
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop-menu {
  display: flex;
  justify-content: center;
  background: white;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.desktop-menu ul {
  display: flex;
  gap: 90px;
  list-style: none;
}
.desktop-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-family: "Bebas Neue", cursive;
}
@media (max-width: 992px) {
  .desktop-menu {
    display: none;
  }
}

#scrollToTopBtn {
  position: fixed;
  bottom: 90px; /* Ajustado para no tapar el WhatsApp */
  right: 20px;
  z-index: 100;
  display: none;
  background-color: white; /* Fondo blanco */
  color: black; /* Flecha negra */
  border: none;
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Suave sombrita */
  transition: opacity 0.3s, background-color 0.3s;
}/*# sourceMappingURL=estilos.css.map */